body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}

html {
    padding: 5px 10px
}

article,aside,figure,footer,header,nav,section,details,summary {
    display: block
}

html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}

img,object,embed {
    max-width: 100%
}

html {
    overflow-y: scroll
}

ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

del {
    text-decoration: line-through
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: bold;
    vertical-align: bottom
}

td {
    font-weight: normal;
    vertical-align: top
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,select {
    vertical-align: middle
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

input[type="radio"] {
    vertical-align: text-bottom
}

input[type="checkbox"] {
    vertical-align: bottom
}

select,input,textarea {
    font: 99% sans-serif
}

table {
    font-size: inherit;
    font: 100%
}

small {
    font-size: 85%
}

strong {
    font-weight: bold
}

td,td img {
    vertical-align: top
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

pre,code,kbd,samp {
    font-family: monospace, sans-serif
}

label,input[type=button],input[type=submit],input[type=file],button {
    cursor: pointer
}

button,input,select,textarea {
    margin: 0
}

button,input[type=button] {
    width: auto;
    overflow: visible
}

@-webkit-keyframes spin-around {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin-around {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

html {
    background-color: #f5f7fa;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility
}

article,aside,figure,footer,header,hgroup,section {
    display: block
}

body,button,input,select,textarea {
    font-family: "PingFang SC","Open Sans", Helvetica, Arial, sans-serif
}

code,pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: "Source Code Pro","Monaco","Inconsolata",monospace;
    line-height: 1.25
}

body {
    color: #222324;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429
}

a {
    color: #2077b2;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out
}

a:hover {
    color: #222324
}

code {
    background-color: #f5f7fa;
    color: #ed6c63;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 2px 2px
}

hr {
    border-top-color: #d3d6db;
    margin: 20px 0
}

img {
    display: block;
    margin: auto;
    max-width: 100%
}

.entry .caption {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}

input[type="checkbox"],input[type="radio"] {
    vertical-align: baseline
}

small {
    font-size: 11px
}

span {
    font-style: inherit;
    font-weight: inherit
}

span.comma {
    margin-left: -5px;
}

strong {
    color: #222324;
    font-weight: 700
}

pre {
    background-color: #f5f7fa;
    color: #42464c;
    white-space: pre;
    word-wrap: normal
}

pre code {
    background-color: #f5f7fa;
    color: #42464c;
    display: block;
    overflow-x: auto;
    padding: 16px 20px
}

table {
    width: 100%
}

table td,table th {
    text-align: left;
    vertical-align: top
}

table th {
    color: #222324
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (min-width:800px) {
    .container {
        margin: 0 auto;
        max-width: 800px
    }
}

@media screen and (max-width:768px) {
    .is-block-mobile {
        display: block !important
    }
}

@media screen and (min-width:769px) {
    .is-block-tablet {
        display: block !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-block-tablet-only {
        display: block !important
    }
}

@media screen and (max-width:979px) {
    .is-block-touch {
        display: block !important
    }
}

@media screen and (min-width:980px) {
    .is-block-desktop {
        display: block !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-block-desktop-only {
        display: block !important
    }
}

@media screen and (min-width:1180px) {
    .is-block-widescreen {
        display: block !important
    }
}

@media screen and (max-width:768px) {
    .is-flex-mobile {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:769px) {
    .is-flex-tablet {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-flex-tablet-only {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (max-width:979px) {
    .is-flex-touch {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:980px) {
    .is-flex-desktop {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-flex-desktop-only {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (min-width:1180px) {
    .is-flex-widescreen {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}

@media screen and (max-width:768px) {
    .is-inline-mobile {
        display: inline !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-tablet {
        display: inline !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-inline-tablet-only {
        display: inline !important
    }
}

@media screen and (max-width:979px) {
    .is-inline-touch {
        display: inline !important
    }
}

@media screen and (min-width:980px) {
    .is-inline-desktop {
        display: inline !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-inline-desktop-only {
        display: inline !important
    }
}

@media screen and (min-width:1180px) {
    .is-inline-widescreen {
        display: inline !important
    }
}

@media screen and (max-width:768px) {
    .is-inline-block-mobile {
        display: inline-block !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-block-tablet {
        display: inline-block !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-inline-block-tablet-only {
        display: inline-block !important
    }
}

@media screen and (max-width:979px) {
    .is-inline-block-touch {
        display: inline-block !important
    }
}

@media screen and (min-width:980px) {
    .is-inline-block-desktop {
        display: inline-block !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-inline-block-desktop-only {
        display: inline-block !important
    }
}

@media screen and (min-width:1180px) {
    .is-inline-block-widescreen {
        display: inline-block !important
    }
}

@media screen and (max-width:768px) {
    .is-inline-flex-mobile {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:769px) {
    .is-inline-flex-tablet {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-inline-flex-tablet-only {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (max-width:979px) {
    .is-inline-flex-touch {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:980px) {
    .is-inline-flex-desktop {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-inline-flex-desktop-only {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (min-width:1180px) {
    .is-inline-flex-widescreen {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }
}

@media screen and (max-width:768px) {
    .is-hidden-mobile {
        display: none !important
    }
}

@media screen and (min-width:769px) {
    .is-hidden-tablet {
        display: none !important
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .is-hidden-tablet-only {
        display: none !important
    }
}

@media screen and (max-width:979px) {
    .is-hidden-touch {
        display: none !important
    }
}

@media screen and (min-width:980px) {
    .is-hidden-desktop {
        display: none !important
    }
}

@media screen and (min-width:980px) and (max-width:1179px) {
    .is-hidden-desktop-only {
        display: none !important
    }
}

@media screen and (min-width:1180px) {
    .is-hidden-widescreen {
        display: none !important
    }
}

a.box:hover,a.box:focus {
    box-shadow: 0 2px 3px rgba(17,17,17,0.1),0 0 0 1px #2077b2
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(17,17,17,0.2),0 0 0 1px #2077b2
}

@media screen and (max-width:768px) {
    .control-label {
        margin-bottom: 5px
    }
}

@media screen and (min-width:769px) {
    .control-label {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 20px;
        padding-top: 7px;
        text-align: right
    }
}

@media screen and (min-width:769px) {
    .control.is-horizontal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (max-width:768px) {
    .column.is-narrow-mobile {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

@media screen and (min-width:769px) {
    .column.is-narrow,.column.is-narrow-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

@media screen and (min-width:980px) {
    .column.is-narrow-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

@media screen and (min-width:1180px) {
    .column.is-narrow-widescreen {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }
}

@media screen and (min-width:769px) {
    .columns.is-grid {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (min-width:769px) {
    .columns:not(.is-desktop) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:980px) {
    .columns.is-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:769px) {
    .tile:not(.is-child) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (max-width:768px) {
    .level-left+.level-right {
        margin-top: 20px
    }
}

@media screen and (min-width:769px) {
    .level-left {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:769px) {
    .level-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media screen and (min-width:769px) {
    .level {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (max-width:768px) {
    .media-number {
        margin-bottom: 10px
    }
}

@media screen and (min-width:769px) {
    .media-number {
        margin-right: 10px
    }
}

@media screen and (min-width:769px) {
    .media.is-large .media-number {
        margin-right: 20px
    }
}

@media screen and (min-width:769px) {
    .modal-content,.modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px
    }
}

@media screen and (min-width:769px) {
    .nav-toggle {
        display: none
    }
}

@media screen and (max-width:768px) {
    .nav-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

@media screen and (max-width:768px) {
    .nav-menu {
        background-color: #fff;
        box-shadow: 0 4px 7px rgba(17,17,17,0.1);
        left: 0;
        display: none;
        right: 0;
        top: 100%;
        position: absolute
    }
}

@media screen and (min-width:769px) and (max-width:979px) {
    .nav-menu {
        padding-right: 20px
    }
}

@media screen and (min-width:769px) {
    .nav-right {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media screen and (max-width:979px) {
    .nav>.container>.nav-left>.nav-item.is-brand:first-child,.container>.nav>.nav-left>.nav-item.is-brand:first-child {
        padding-left: 20px
    }
}

@media screen and (max-width:768px) {
    .pagination {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (min-width:769px) {
    .pagination>a:not(:first-child) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

a.panel-block:hover {
    background-color: #f5f7fa
}

@media screen and (min-width:980px) {
    .section.is-medium {
        padding: 120px 20px
    }
}

html {
    background-color: transparent
}

nav .level {
    padding-top: 14px;
    padding-bottom: 6px
}

code {
    color: inherit;
    background-color: transparent;
    font-size: 90%
}

article+article {
    margin-top: 80px
}

.section {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px
}

.nav>.container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    width: 100%
}

.nav {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50px;
    position: relative;
    text-align: center;
    z-index: 2
}

.nav-left {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap
}

.nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px
}

.nav-item a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.nav-item img {
    max-height: 24px
}

@media screen and (max-width:768px) {
    .nav-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.post-item {
    padding-left: 0.5em;
    list-style: none;
}

.nav-item a,a.nav-item {
    color: #42464c
}

.nav-item a:hover,a.nav-item:hover {
    color: #222324
}

.nav-item a.is-active,a.nav-item.is-active {
    color: #222324
}

.nav-item a.is-tab,a.nav-item.is-tab {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-left: 12px;
    padding-right: 12px
}

.nav-item a.is-tab:hover,a.nav-item.is-tab:hover {
    border-bottom: 1px solid #2077b2;
    border-top: 1px solid transparent
}

.nav-item a.is-tab.is-active,a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #2077b2;
    border-top: 3px solid transparent;
    color: #2077b2
}

.nav-menu .nav-item {
    border-top: 1px solid rgba(211,214,219,0.5);
    padding: 10px
}

@media screen and (min-width:769px) {
    .nav-right {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.icon {
    display: inline-block;
    font-size: 21px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    width: 24px
}

.notification .subtitle,.notification .title {
    color: inherit
}

.title,.subtitle {
    font-weight: 400;
    word-break: break-word
}

.title em,.title span,.subtitle em,.subtitle span {
    font-weight: 300
}

.title a:hover,.subtitle a:hover {
    border-bottom: 1px solid
}

.title strong,.subtitle strong {
    font-weight: 500
}

.title {
    color: black;
    font-size: 2em;
    line-height: 1.25;
    padding-bottom: 10px;
    line-height: 1
}

.list-title {
    font-size: 1.5em;
}

.title code {
    display: inline-block;
    font-size: 28px
}

.title strong {
    color: inherit
}

.subtitle+.title {
    margin-top: -20px
}

.level-item .title,.level-item .subtitle {
    margin-bottom: 0
}

.media-content .subtitle+.title {
    margin-bottom: 10px
}

.title a {
    color: #222324
}

.content a:not(.button) {
    border-bottom: 1px solid #d3d6db
}

.content a:not(.button):hover {
    border-bottom-color: #2077b2
}

.content li+li {
    margin-top: 0.25em
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    color: black;
    line-height: 1.125;
    margin-bottom: 10px
}

.content h1:not(:first-child),.content h2:not(:first-child),.content h3:not(:first-child) {
    margin-top: 20px
}

.content blockquote {
    border-left: 5px solid #d3d6db;
    padding: 0.3em 1em;
    margin: 0.7em
}

.content h1 {
    font-size: 1.75em
}

.content h2 {
    font-size: 1.5em
}

.content h3 {
    font-size: 1.25em
}

.content h4 {
    font-size: 1.125em
}

.content h5 {
    font-size: 1em
}

.content h6 {
    font-size: 1em
}

.content ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em
}

.content ul {
    list-style: disc outside;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.4em;
}

.content ul ul {
    list-style-type: circle;
    margin-top: 0.5em
}

.content ul ul ul {
    list-style-type: square
}

.content {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.75
}

.media-content .content {
    line-height: 1.5
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    line-height: 1.25
}

.content h1::before,.content h2::before,.content h3::before,.content h4::before,.content h5::before,.content h6::before {
    color: #aeb1b5;
    font-weight: bold
}

.content h1 code,.content h2 code,.content h3 code,.content h4 code,.content h5 code,.content h6 code {
    background-color: #f8f8f8
}

.content h1+h2:not(:first-child),.content h2+h3:not(:first-child),.content h3+h4:not(:first-child),.content h4+h5:not(:first-child),.content h5+h6:not(:first-child) {
    margin-top: 20px
}

.content p:not(:last-child),.content ol:not(:last-child),.content ul:not(:last-child),.content pre:not(:last-child),.content table:not(:last-child) {
    margin-bottom: 0.4em;
    margin-top:0.4em
}

.content table td,.content table th {
    border: 1px solid #d3d6db;
    padding: 8px 10px;
    vertical-align: top
}

.content>code,.content p>code {
    font-size: 90%;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #42464c
}

.content pre code {
    font-size: 90%;
    padding: 1em;
    line-height: 1.5
}

.content li pre,.content li table {
    margin-bottom: 1.5em
}

.has-text-centered {
    text-align: center
}

.tag {
    margin: 7px 5px;
    vertical-align: bottom
}

.meta {
    color: #979797;
    margin-bottom: 10px;
}

.meta a{
    color: #979797;
}

time.meta.list {
    min-width: 100px;
    display: inline-block;
    margin-bottom: 0px;
}

time.meta.single {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
}

.subtitle {
    color: #42464c;
    font-size: 18px;
    line-height: 1.125
}

.subtitle code {
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    padding: 2px 3px;
    vertical-align: top
}

.subtitle strong {
    color: #222324
}

.subtitle {
    color: #69707a
}

.title.is-5 {
    font-size: 18px
}

.title.is-5 code {
    font-size: 14px
}

.subtitle.is-5 {
    padding-bottom: 10px;
    font-size: 18px
}

.subtitle.is-5 code {
    font-size: 14px
}

.columns.is-mobile>.column.is-5 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%
}

.column.is-5,.column.is-5-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%
}

.tile.is-5 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%
}

.level {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.level code {
    border-radius: 3px
}

.level img {
    display: inline-block;
    vertical-align: top
}

@media screen and (min-width:769px) {
    .level {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

nav .level {
    padding-top: 14px;
    padding-bottom: 6px
}

.columns.is-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.level.is-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.title.is-4 {
    font-size: 35px;
    font-family: 'Merienda', cursive
}

@media screen and (max-width:400px) {
    .title.is-4 {
        font-size: 30px;
    }
}

.title.is-4 code {
    font-size: 18px
}

.subtitle.is-4 {
    font-size: 24px
}

.subtitle.is-4 code {
    font-size: 18px
}

.columns.is-mobile>.column.is-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%
}

.column.is-4,.column.is-4-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%
}

.tile.is-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%
}