@font-face {
    font-family: NotoSans;
    src: url(/css/NotoSans.ttf);
}
@font-face {
    font-family: SourceCodePro;
    src: url(/css/SourceCodePro.ttf);
}
@font-face {
    font-family: MarckScript;
    src: url(/css/MarckScript.ttf);
}

html {
    text-rendering: optimizeLegibility;
    font-family: NotoSans, 'Noto Sans CJK SC', 'PingFang SC', "Microsoft YaHei", sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

@media(prefers-color-scheme:dark) {
    body {
        background-color:black;
        color: gainsboro;
    }
}

body {
    word-wrap: break-word;
}

.section {
    margin: 0 auto;
    max-width: 760px;
    padding: 10px 10px
}

article.section {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header.section {
    padding-top: 20px;
}

h1.page-title {
    font-size: 44px;
    font-family: MarckScript, cursive;
    margin: 0px;
    font-weight: 300;
}

@media(prefers-color-scheme:light) {
    h1.page-title a {
        color: black;
    }
}

@media(prefers-color-scheme:dark) {
    h1.page-title a {
        color: gainsboro;
    }
}

nav {
    display: flex
}

.nav-left {
    padding-left: 10px;
    display: flex;
}

.nav-right {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 10px;
}

.nav-right .icon {
    font-size: 21px
}

a {
    color: #2077b2;
    text-decoration: none;
    transition: color linear 0.2s;
}

a.button {
    display: inline-block;
    outline: 0;
    padding: 5px 8px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background-color: #5d97ee;
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

a.button:hover{
    background-color: #357ce6;
}

#indicator {
    display: block;
    position: fixed;
    margin-top: 20%;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0em;
    top: 0em;
}

@media(prefers-color-scheme:light) {
    #warning {
        background-color: #fefefe;
    }
}

@media(prefers-color-scheme:dark) {
    #warning {
        background-color:black;
    }
}

#warning {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 760px;
}

@media(prefers-color-scheme:light) {
    a:hover {
        color:black;
    }
    
}

@media(prefers-color-scheme:dark) {
    a:hover {
        color:white;
    }    
}

h1.title {
    font-size: 1.8em;
    margin: 5px 0px;
    font-weight: 400;
}

time {
    font-size: 18px;
    display: inline-block
}

time.meta.list {
    margin-bottom: 0px;
    padding: 0;
    font-size: 1em;
}

div.time {
    text-align: right;
    min-width: 105px;
    display: inline-block;
    margin-right: 10px;
}

.meta {
    color: #979797;
    margin-bottom: 10px;
}

span.metagroup {
    margin-left: 5px;
    margin-right: 5px;
}

span#tagcomma {
    margin-left: -3px
}

.meta a {
    color: #979797;
}

.content h2 {
    font-size: 1.5em;
    margin: 1em 0 0.4em 0;
}

h2.list-title {
    margin: 15px 0px 0px 0px;
}

h2.list-title:first-child {
    margin-top: 5px;
}

.content h3 {
    font-size: 1.3em;
    margin-top: 23px;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 1.2em;
    margin: 0em;
}

.content h5 {
    font-size: 1.1em;
    margin: 0em;
}

.content h6 {
    font-size: 1em;
    margin: 0em;
}

@media(prefers-color-scheme:light) {
    .content {
        color:  #222324;
    }
}

@media(prefers-color-scheme:dark) {
    .content {
        color: gainsboro;
    }
}

.content {
    line-height: 1.7;
    word-break: break-word;
}

.content a:not(.button) {
    border-bottom: 1px dashed #BBB;
}

.content h2,.content h3,.content h4,.content h5,.content h6 {
    line-height: 1.25;
    font-weight: 400;
}

.content p {
    margin-bottom: 0.6em;
    margin-top: 0.8em;
}

.content ul {
    margin: 0.5em
}

.content table {
    overflow: auto;
    border-spacing: 0;
    margin: 0 auto;
}

.content table th {
    font-weight: 600
}

.content table th, .content table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

.content table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.content table img {
    background-color: transparent
}

span.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
}

li.post-item {
    list-style: none;
    padding: 0.1em 0em;
}

li.groupby {
    padding-top: 0.5em;
}

ul.list {
    padding-left: 24px;
}

.content>p:first-child {
    margin-top: 1em;
}

code {
    font-family: SourceCodePro, "Monaco", "Inconsolata", monospace; 
    word-wrap: normal
}

pre {
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    white-space: pre;
}

article pre code {
    color: #666;
    font-size: 0.9em;
    background: none;
    overflow-x: auto;
    display: block;
    padding: 15px 15px;
    margin: 0;
    border: 0;
    line-height: 19.72px;
    -webkit-border-radius: 0;
    border-radius: 0;
    word-break: normal;
}

img {
    display: block;
    margin: auto;
    max-width: 100%
}

.caption {
    display: block;
    margin-top: 2px;
    margin-bottom: 3px;
    color: #999;
    position: relative;
    font-size: 0.9em;
    text-align: center;
    font-style: italic;
}

.content blockquote {
    font-style: italic;
    border-left: 5px solid #d3d6db;
    padding: 1px 1em;
    margin: 0.7em
}

.content blockquote p:first-child {
    margin-top: 1px;
}

.content blockquote p:last-child {
    margin-bottom: 1px;
}

.footnotes li {
    font-size: 0.95em
}

footer {
    text-align: center;
    font-size: 0.8em;
}

@media(prefers-color-scheme:dark) {
    .fancybox-wrap .fancybox-skin {
        background: black;
    }
}