@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("font/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), url("font/fontawesome-webfont.woff") format('woff'), url("font/fontawesome-webfont.ttf") format('truetype'), url("font/fontawesome-webfont.svg#FontAwesomeRegular") format('svg');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url("font/kaushan-script.ttf") format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, "苹方-简 常规体", "微软雅黑";
  font-size: 16px;
  background: #eee;
  text-shadow: 0 0 1px transparent;
}
@media screen and (max-width: 1070px) {
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 15px;
    margin: 0 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Arial, Verdana, "黑体", STHeiti;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: #1d9531;
}
a:hover {
  color: #41a62a;
  text-decoration: underline;
}
hr {
  border: 0;
  margin-top: 5px;
  border-top: 1px solid #ddd;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 1005px;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  .inner {
    width: 100%;
  }
}
#main-col {
  width: 750px;
}
@media screen and (max-width: 1050px) {
  #main-col {
    width: 100%;
    margin-right: -290px;
  }
}
@media screen and (max-width: 920px) {
  #main-col {
    margin-right: 0;
    float: none;
  }
}
@media screen and (max-width: 1050px) {
  #wrapper {
    margin-right: 250px;
  }
}
@media screen and (max-width: 920px) {
  #wrapper {
    margin-right: 0;
  }
}
#header {
  margin-bottom: 20px;
  text-shadow: 0 0 1px #fff;
  margin-left: auto;
}
#header a {
  color: #424242;
}
#header a:hover {
  text-decoration: none;
  color: #1d9531;
}
#header h1,
#header h2 {
  font-weight: normal;
  font-family: Georgia;
}
#header h1 {
  font-size: 2.5em;
  line-height: 1;
  color: #333;
}
#header h2 {
  font-size: 1.1em;
  line-height: 1;
  margin-top: 15px;
  color: #6a6a6a;
}
#header nav-top {
  positon: fixed;
  top: 0;
}
#header #main-nav {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 2.5em;
  color: #6a6a6a;
  margin-right: 30px;
  margin-top: 30px;
}
#header #main-nav a {
  padding: 3px 2px;
  border-bottom: solid;
  border-bottom-color: #808080;
  border-width: 2px;
}
#header #main-nav a:hover {
  border-bottom-color: #41a62a;
  color: #41a62a;
  text-decoration: none;
  text-shadow: none;
}
#header #main-nav ul {
  list-style: none;
}
#header #main-nav ul li {
  float: left;
  margin-left: 20px;
}
article {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  background: #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
article.page .icon {
  display: none;
}
article.post .icon:before {
  content: '\f016';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article.link .title a:after {
  content: '\f08e';
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
  vertical-align: super;
}
article .post-content {
  padding: 25px 30px 15px 30px;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 641px) {
  article .post-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
article .gallery {
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #1d9531;
}
@media screen and (max-width: 600px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 32px FontAwesome;
  top: 0;
  left: 0;
  width: 32px;
  text-align: center;
}
article header time {
  color: #999;
  font: 0.9em Georgia, Arial, Verdana, "黑体", STHeiti;
  margin-top: 5px;
  line-height: 1;
}
article header time:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 5px;
}
article header .title {
  font-weight: normal;
}
article header .title a {
  color: #444;
}
article header .title a:hover {
  color: #1d9531;
  text-decoration: none;
}
article .entry {
  line-height: 1.6;
}
article .entry p,
article .entry blockquote,
article .entry ul,
article .entry ol,
article .entry dl,
article .entry table,
article .entry iframe,
article .entry .video-container {
  margin-top: 10px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  margin-top: 15px;
}
article .entry em {
  font-family: Georgia, "苹方-简 常规体", "微软雅黑";
}
article .entry blockquote {
  border-left: 3px solid #1d9531;
  font-size: 1em;
  padding-left: 10px;
}
article .entry blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .entry blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .entry code,
article .entry pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
article .entry code {
  background: #eee;
  color: #666;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
article .entry pre {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  overflow: auto;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
article .entry pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
article .entry ul,
article .entry ol,
article .entry dl {
  margin-left: 20px;
}
article .entry ul ul,
article .entry ol ul,
article .entry dl ul,
article .entry ul ol,
article .entry ol ol,
article .entry dl ol,
article .entry ul dl,
article .entry ol dl,
article .entry dl dl {
  margin-top: 0;
}
article .entry h1,
article .entry h2 {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  font-weight: normal;
}
article .entry img,
article .entry video {
  max-width: 100%;
  height: auto;
  clear: both;
  display: block;
  margin: auto;
}
article .entry iframe {
  border: none;
}
article .entry .caption {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
  color: #999;
  position: relative;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}
article .entry .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry .video-container iframe,
article .entry .video-container object,
article .entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .entry .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.9em;
  line-height: 16px;
  position: relative;
  min-height: 16px;
}
article footer a {
  color: #999;
}
article footer a:hover {
  color: #41a62a;
  text-decoration: none;
}
article footer a:before {
  font: 1em FontAwesome;
  padding-right: 10px;
  vertical-align: middle;
}
article footer a.more-link {
  color: #444;
}
article footer a.more-link:hover {
  color: #41a62a;
  text-decoration: none;
}
article footer a.more-link:before {
  content: '\f054';
  position: relative;
  top: -1px;
}
article footer a.comment-link {
  float: right;
}
article footer a.comment-link:before {
  content: '\f075';
}
article footer .categories,
article footer .tags {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
article footer .categories:before,
article footer .tags:before {
  position: absolute;
  font: 1em FontAwesome;
  left: 2px;
}
article footer .categories:before {
  content: '\f07b';
}
article footer .tags {
  margin-left: 10px;
}
article footer .tags:before {
  content: '\f02c';
}
article footer .addthis {
  margin-top: 15px;
}
article footer .addthis iframe {
  margin-top: 0;
}
#comment {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 50px;
}
#comment .title {
  font-weight: normal;
  margin-bottom: 15px;
}
#pagination a {
  display: block;
  padding: 5px 10px;
  background: #ddd;
  color: #999;
  font-family: Georgia, Arial, Verdana, "黑体", STHeiti;
  text-shadow: 0 0 1px #fff;
  margin-bottom: 30px;
}
#pagination a:hover {
  background: #1d9531;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
.archive-title {
  color: #666;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  padding: 20px 0px 10px 20px;
  text-shadow: 0 0 1px #fff;
}
.archive-title:before {
  font-family: FontAwesome;
  content: '\f073';
  padding-right: 15px;
}
.archive-title.tag:before {
  content: '\f02b';
}
.archive-title.category:before {
  content: '\f07c';
}
.archive {
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
  background: #fff;
}
.archive article {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.archive article .post-content {
  margin-bottom: 0;
  padding: 5px 30px 5px 30px;
}
@media screen and (max-width: 641px) {
  .archive article .post-content {
    padding: 5px 15px 5px 15px;
  }
}
archive-time {
  font-size: 0.85em;
  font-family: "Lucida grande";
  color: #999;
}
#sidebar {
  width: 238px;
  line-height: 1.8em;
}
@media screen and (max-width: 920px) {
  #sidebar {
    float: none;
    width: 100%;
  }
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 20px;
  word-wrap: break-word;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#sidebar .widget .title {
  padding: 15px 20px 5px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  font: Georgia, Arial, Verdana, "黑体", STHeiti;
  font-weight: normal;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 15px 20px;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul ul,
#sidebar .widget ol ul,
#sidebar .widget dl ul,
#sidebar .widget ul ol,
#sidebar .widget ol ol,
#sidebar .widget dl ol,
#sidebar .widget ul dl,
#sidebar .widget ol dl,
#sidebar .widget dl dl {
  list-style: disc;
  margin-left: 20px;
}
#sidebar .tag small {
  margin-left: 15px;
  color: #999;
}
#sidebar .tag small:before {
  content: '(';
}
#sidebar .tag small:after {
  content: ')';
}
#sidebar .tagcloud .entry {
  padding-right: 5px;
}
#sidebar .tagcloud a {
  margin-right: 10px;
  display: inline-block;
}
.instapic {
  float: left;
  position: relative;
}
.instapic:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#makeMeScrollable {
  width: 100%;
  height: 100%;
  position: relative;
}
#makeMeScrollable div.scrollableArea * {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.scrollingHotSpotLeft {
  min-width: 50px;
  width: 10%;
  height: 100%;
  background-image: url("img/big_transparent.gif");
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  left: 0;
}
div.scrollingHotSpotLeftVisible {
  background-image: url("img/arrow_left.svg");
  background-repeat: no-repeat;
  zoom: 1;
}
div.scrollingHotSpotRight {
  min-width: 50px;
  width: 10%;
  height: 100%;
  background-image: url("img/big_transparent.gif");
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  right: 0;
}
div.scrollingHotSpotRightVisible {
  background-image: url("img/arrow_right.svg");
  background-repeat: no-repeat;
  zoom: 1;
}
div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
#footer {
  color: #999;
  margin-bottom: 20px;
  font: 0.9em/2 Georgia;
  text-shadow: 0 0 1px #fff;
}
.entry .gist {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #999;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #1d9531;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #1d9531;
}
figure.highlight {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight .line {
  height: 20px;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
